<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2 class="ion-text-center">Lista de sucursales</h2>

  <!-- Contenedor con estilo Flexbox para el buscador y filtro -->
  <div class="search-filter-container">
    <!-- Buscador -->
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filterSucursales($event)"
      placeholder="Buscar sucursales"
      class="custom-searchbar">
    </ion-searchbar>

    <!-- Filtro con ícono de filtro -->
    <ion-item class="custom-filter">
      <ion-icon name="filter-outline" slot="start"></ion-icon>
      <ion-select interface="popover" [(ngModel)]="sortOrder" (ionChange)="onSortChange($event)" class="filter-select">
        <ion-select-option value="asc">Ascendente (Estrellas)</ion-select-option>
        <ion-select-option value="desc">Descendente (Estrellas)</ion-select-option>
        <ion-select-option (click)="clearFilter()">Limpiar</ion-select-option>
      </ion-select>
    </ion-item>

  </div>

  <br>

  <ion-list *ngIf="filteredSucursales && filteredSucursales.length > 0">
    <ion-item *ngFor="let sucursal of filteredSucursales">
      <ion-label>
        <h2>{{ sucursal.nombre }}</h2>
        <p>{{ sucursal.direccion }}</p>
        <ion-badge color="primary">{{ sucursal.estrellas }} estrellas</ion-badge>
        <ion-button fill="outline" (click)="viewComments(sucursal)">Ver Comentarios</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
