<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Sucursales</ion-title>
    <ion-buttons slot="end">
      <ion-select (ionChange)="onSortChange($event)">
        <ion-select-option value="asc">Ascendente (Estrellas)</ion-select-option>
        <ion-select-option value="desc">Descendente (Estrellas)</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="sucursales && sucursales.length > 0">
    <ion-item *ngFor="let sucursal of sucursales">
      <ion-label>
        <h2>{{ sucursal.nombre }}</h2>
        <p>{{ sucursal.direccion }}</p>
        <ion-badge color="primary">{{ sucursal.estrellas }} estrellas</ion-badge>
        <ion-button fill="outline" (click)="viewComments(sucursal)">Ver Comentarios</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
